@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.title {
    font-family: 'Lora', serif;
}

.main-section {

    background: url(bg.jpg);
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-logo img {
    height: 125px;
    margin-right: -50px;

}

.nav-logo {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.658);

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 70px;
}

.nav-link {
    list-style-type: none;
    display: flex;
    margin-right: 50px;
}

.nav-link li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.658);
    padding: 10px 20px;
    margin-right: 15px;
    border: 2px solid rgba(0, 0, 0, 0.658);
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease;
    display: inline-block;
    white-space: nowrap;
}

.nav-link li a:hover {
    background-color: rgba(0, 0, 0, 0.507);
    color: #ffffff;
    transform: scale(1.1);
}

.menu ul {
    padding-top: 20px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    text-align: center;
    margin: 20px;
}

.menu img {
    border: 1px solid rgb(253, 108, 51);
    border-radius: 14px;
    padding: 10px;
}

.menu p {
    font-size: 20px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.850);
    font-family: 'Lora', serif;

}

.menu a {
    text-decoration: none;
}

.menufont {
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: .5px;
    color: rgba(0, 0, 0, 0.788);
    text-transform: uppercase;
    margin-left: 20px;
    margin-bottom: 20px;   
    
    /* display: grid;
    justify-content: center; */
}

.menufont h2 {
    border: 2px solid rgba(253, 108, 51, 0.767);
    width: 253px ;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    
}
.menufont h5{
    border: 2px solid rgba(253, 108, 51, 0.767);
    width: 190px ;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.body {
    background-color: #ffc78881;

}

.menu img:hover {
    box-shadow: 5px 5px 10px rgba(253, 108, 51, 0.678);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.todayoffer {
    font-family: 'Lora', serif;
    padding-top: 10px;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.726);
    text-size-adjust: 20px;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.123);
  }
    
/* Handle */
 ::-webkit-scrollbar-thumb {
    background: rgba(253, 108, 51, 0.678); 
    border-radius: 10px;
  } 

/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 92, 42, 0.801); 
  } 

.template {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    align-items: center;
    justify-content: center;
    margin-left: 140px;
}

.image:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.deal strong {
    font-family: 'Lora', serif;
}

.template img {
    height: 300px;
    width: 300px;
    align-items: center;
}

.deal {
    margin-bottom: 60px;
}

.image {
    padding: 22px;
    height: 443px;
    width: 351px
}

.image p {
    display: none;
    
    color: rgb(182, 58, 0);
}

.image:hover p {
    display: block;
}

.text {
    font-family: 'Lora', serif;
    font-size: 15px;
}

/* FOOtER */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
    font-family: Open Sans;
}

section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

.footer-distributed {
    background: #000000e8;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-links a:hover {
    color: rgb(253, 108, 51);
}

.footer-distributed .footer-company-name {
    color: #686868;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: rgb(253, 108, 51);
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
    
}

.footer-distributed .footer-icons :hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}


.footer-icons img {
    height: 30px;
    width: 30px;
    
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;

    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}



@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}

.footlogo img {
    height: 125px;
    margin: -50px;
}

.footlogo {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.658);
}

.footlogo  img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}