*{
    margin: 0;
    padding: 0;
}
.main-section{
    background: url(Burger.jpeg);
    
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-logo img{
    height: 125px;
    margin-right: -30px;
}
.nav-logo{
    display: flex;
    align-items: center;
    color: aliceblue;
    
}
.navbar{
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.nav-link{
    list-style-type: none;
    display: flex;
    margin-right: 50px;
}
.nav-link li a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px 20px;
    margin-right: 15px;
    border: 2px solid white;
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
}
.nav-link li a:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}
