@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.title{
    font-family: 'Lora', serif;
}
.main-section {

    background: url(bg.jpg);
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-logo img {
    height: 125px;
    margin-right: -50px;

}

.nav-logo {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.658);

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 70px;
}

.nav-link {
    list-style-type: none;
    display: flex;
    margin-right: 50px;
}

.nav-link li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.658);
    padding: 10px 20px;
    margin-right: 15px;
    border: 2px solid rgba(0, 0, 0, 0.658);
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease;
    display: inline-block;
    white-space: nowrap;
}

.nav-link li a:hover {
    background-color: rgba(0, 0, 0, 0.507);
    color: #ffffff;
    transform: scale(1.1);
}

.menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    text-align: center;
    margin: 20px;
}

.menu img {
    border: 1px solid rgb(253, 108, 51);
    border-radius: 12px;
    padding: 10px;
}

.menu p {
    color: rgba(0, 0, 0, 0.850);
    font-family: 'Lora', serif;

}

.menu a {
    text-decoration: none;
}

.menufont {
    font-family: 'Lora', serif;
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: .5px;
    color: rgba(0, 0, 0, 0.507);
    text-transform: uppercase;
    margin-left: 20px;
}

.body {
    background-color: #ffc78881;

}

.menu img:hover {
    box-shadow: 5px 5px 10px rgba(253, 108, 51, 0.678);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.todayoffer {
    font-family: 'Lora', serif;
    padding-top: 10px;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.726);
    text-size-adjust: 20px;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.123);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(253, 108, 51, 0.678); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 42, 42, 0.801); 
  }

  .slidercontent{
    display: flex;
    height: 180px;
    width: 370px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    
  }

  .slider1 img{
    height: 180px;
    width: 370px;
    transition: left 2s;
    -webkit-transition: left 2s;
  }
  .slider-image{
    float: left;
    margin: 0;
    padding: 0;
  }

  .button-container{
    top: -20px;
    position: relative;
  }

  .slider-button{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #fff;
  }

  #slider-image-1:target ~.slider1{
    left: 0px;
  }

  #slider-image-2:target ~.slider1{
    left: -370px;
  }

  #slider-image-3:target ~.slider1{
    left: -740px;
  }

  #slider-image-4:target ~.slider1{
    left: -1110px;
  }

  #slider-image-5:target ~.slider1{
    left: -1480px;
  }

  #slider-image-6:target ~.slider1{
    left: -1850px;
  }
